<nav>
  <a class="button" routerLink="/main" routerLinkActive="activebutton">About me</a> |
  <a class="button" routerLink="/smokefree" routerLinkActive="activebutton">Journal de bord</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg">
      <app-header></app-header>
    </div>
    <div class="col-lg">
      <article id="main">
<!--        <app-main></app-main>-->
        <router-outlet></router-outlet>
      </article>
    </div>
  </div>
</div>
<app-footer></app-footer>
