<footer>
  <p><span class="small-print">&copy; ribBit 2020-2021</span></p>
  <a href="https://github.com/draialexis" target="_blank">
    <button class="btn btn-footer">
      <fa-icon [icon]="faGithub"></fa-icon>
    </button>
  </a>
  <a href="https://www.freecodecamp.org/ribbit" target="_blank">
    <button class="btn btn-footer">
      <fa-icon [icon]="faFreeCodeCamp"></fa-icon>
    </button>
  </a>
  <a href="https://www.linkedin.com/in/alexisdrai/" target="_blank">
    <button class="btn btn-footer">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </button>
  </a>
  <a href="https://twitter.com/rybByt_" target="_blank">
    <button class="btn btn-footer">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </button>
  </a>
</footer>
