<section>
  <h2>Mon expérience</h2>
  <p>
    <span class="date">depuis 09-2020</span> : <strong>Professeur particulier d'anglais</strong> @ <a
    class="link" href="https://www.cours-anglais-clermont.fr" target="_blank">Freelance</a>, Clermont-Ferrand
    <br/>
    <span class="date">depuis 09-2020</span> : <strong>Employé de restauration </strong> @ <a
    class="link" href="https://oldgrump.fr" target="_blank">Old Grump</a>, Clermont-Ferrand
    <br/>
    <br/>
    <span class="date">10-2019 à 02-2020</span> : <strong>Développeur Java Fullstack</strong> @ <a
    class="link" href="https://onelogic.fr" target="_blank">One Logic Consulting Group</a>, Boulogne-Billancourt
    <br/>
    <span class="date">07-2018 à 09-2019</span> : <strong>Codeur</strong> participant aux challenges <a
    class="link" href="https://www.100daysofcode.com" target="_blank">#100DaysOfCode</a> et <a
    class="link" href="https://301daysofcode.com" target="_blank">#301DaysOfCode</a>, spécialité
    java
    <br/>
    <span class="date">06-2016 à 06-2018</span> : <strong>Chef de rang</strong> @ <a class="link"
                                                                                     href="https://www.angelina-paris.fr"
                                                                                     target="_blank">Angelina</a>
    - Salon de thé, Versailles
    <br/>
    <span class="date">11-2014 à 05-2016</span> : <strong>Commis de salle</strong> @ <a class="link"
                                                                                        href="https://www.angelina-paris.fr"
                                                                                        target="_blank">Angelina</a>
    - Salon de thé, Versailles
    <br/>
    <span class="date">07-2013 à 07-2015</span> : <strong>Professeur particulier d'anglais</strong> @
    Freelance, Yvelines & Paris Ouest
    <br/>
    <span class="date">09-2012 à 06-2013</span> : <strong>Assistant de langues vivantes</strong> @ <a
    class="link" href="https://www.dollaracademy.org.uk" target="_blank">Dollar Academy</a>, Dollar,
    Ecosse, Royaume-Uni
  </p>
</section>
