body {
  background-color: #fff5e6;
  margin: 5vh 0 20vh 0;
}

section {
  margin: 0.5em 3em;
}

h2, header {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Asap', sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.small-print {
  font-size: 0.8em;
}

.date {
  color: #555;
  font-style: italic;
}

.link {
  box-shadow: 0 3px 0 #008080;
  position: relative;
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #000;
  text-decoration: none;
  background-color: #eee4d5;
}

.link:active {
  box-shadow: none;
  top: 5px;
}

.link:visited {
  color: #000;
}

/*.milestone{
  padding: 0.7em;
  margin: 0.5em;
  background-color: #ffe4d5;
  text-align: center !important;
}*/

@media screen and (max-width: 1024px) {
  footer {
    display: none;
  }

  section {
    padding: 10px;
    width: auto;
  }
}

@media screen and (max-height: 900px) {
  footer {
    display: none;
  }

  body {
    margin: 0;
  }
}
