<h1>I'm quitting smoking : my journal</h1>
<ul>
  <li>
    <h2>Day 0 - <span class="small-print">01/11/2020</span></h2>
    <p>It's 02:00 AM (so, 02/11/2020 technically) and I smoked my last cigarette less than an hour ago. I threw the
      unfinished pack in the trash and started setting up this log. If you're reading this, I'm probably fine, and I'm
      thankful that you're taking the time. My approach was to consult a general practitioner after doing some research
      on effective cessation methods. I was recommended the usual nicotine substitute method, and therefore I'll be
      using patched all November. If the going gets tough, I also have special lozenges that are supposed to help. I'm
      not planning on using those -- place your bets! In the first few months, you can expect short daily updates here,
      linked and announced on <a class="link" href="https://twitter.com/rybByt_">Twitter</a>. Wish me luck!</p>
  </li>
  <!--<h2>Day 1 - <span class="small-print">02/11/2020</span></h2>
  <p>fuuuuuuuuuuuuuuuuuuuuuuuuuck</p>-->
</ul>
<!--<h2>Day X - <span class="small-print">XX/XX/XXXX</span></h2>
  <p></p>-->
