<h1>I'm quitting smoking : my journal</h1>
<ul>
  <li>
    <h3 class="text-uppercase">Day 0 - nov. 1, 2020</h3>
    <p><strong>02:00 AM (so, 02/11/2020 technically) --</strong> I smoked my last cigarette less than an hour ago. I
      threw the unfinished pack in the trash and started setting up this log. If you're reading this, I'm probably fine,
      and I'm thankful that you're taking the time. My approach was to consult a general practitioner after doing some
      research on effective cessation methods. I was recommended the usual nicotine substitute method, and therefore
      I'll be using patches all November. If the going gets tough, I also have special lozenges that are supposed to
      help. I'm not planning on using those -- place your bets! In the first few months, you can expect short daily
      updates here, linked and announced on <a class="link" href="https://twitter.com/rybByt_">Twitter</a>. Wish me
      luck!</p>
  </li>
  <li>
    <h3 class="text-uppercase">Day 1 - nov. 2, 2020</h3>
    <p><strong>00:30 AM (so, 03/11/2020 technically) --</strong> Well, fcuk me. I'm using a patch so it could probably
      have been worse, but this is harder than I thought. I'm restless, time seems to pass slowly, and I'm warm and
      sweaty and distracted. But I made it so far. Now let's see if I can sleep.</p>
    <p><strong>In retrospect</strong>, and as I mentioned above, it's also easier than it could have been in some ways.
      One other reason is the support I'm getting from knowing that some people care and are paying attention to my
      resolution and my progress: some family members, some perfect strangers, some friends, and even the woman I have a
      crush on. They know, I know that they know -- there's no going back without disappointing basically everybody. And
      that's all for the better. Also, I totally used my first nicotine lozenge on night #1 like some sort of chump.</p>
    <hr>
    <p class="small-print text-uppercase"><strong>days without tobacco: 1</strong> | days without nicotine: 0 (15.5 mg
      today) | savings accomplished: -17.85€</p>
    <hr>
  </li>
  <li>
    <h3 class="text-uppercase">Day 2 - nov. 3, 2020</h3>
    <p><strong>10:30 PM --</strong> I started today with the satisfaction of knowing I can get through a day and night.
      Still restless, but pretty effective at brute forcing through stuff. I cleaned my whole place up and rearranged
      it. May well wash the walls tomorrow.</p>
    <p>If it goes exceptionally well, I may study instead (or on top) of cleaning. But I fear sitting at my desk
      listening to content, be it academic or otherwise, will bring my smoking habits back to my mind.</p>
    <p>At this point, I don't think I'll smoke again, but I do think quitting could burn me out or bring me down if I
      don't manage the process intelligently.</p>
    <hr>
    <p class="small-print text-uppercase"><strong>days without tobacco: 2</strong> | days without nicotine: 0 (15.5 mg
      today) | savings accomplished: -15.55€</p>
    <hr>
  </li>
  <li>
    <h3 class="text-uppercase">Day 3 - nov. 4, 2020</h3>
    <p><strong>11:30 AM --</strong> Feeling tired! Quitting had a noticeable effect on my sleeping, and so did the US
      election... I'm gonna need something sweet and unreasonable to munch on today. On the plus side, I was able to pay
      attention to a three hours long lecture this morning, so... yay.</p>
    <p><strong>[X Hours Later...]</strong> I came here to eat sweets and watch a Dem take Pennsylvania. And I'm all out
      of sweets! I -- I ate them all...</p>
    <p><strong>11:00 PM --</strong> I forgot... I forgot, and I had that stupid automatic thought: "I know, I'll just
      have a cigarette while waiting for X." I realised what was happening almost instantly, but it was a bit scary to
      feel that... Still going strong though.</p>
    <hr>
    <p class="small-print text-uppercase"><strong>days without tobacco: 3</strong> | days without nicotine: 0 (15.5 mg
      today) | savings accomplished: -13.26€</p>
    <hr>
  </li>
  <li>
    <h3 class="text-uppercase">Day 4 - nov. 5, 2020</h3>
    <p><strong>02:45 PM --</strong> Washing the walls to channel that energy. That should be my workout for the rest of
      the week! I remember how my hands would smell, the times I would smoke after handling those cleaning products --
      and I much prefer this version of me.</p>
    <p><strong>11:00 PM --</strong> I cut today's patch in half and it was fine. Getting closer to freedom already. It
      seems, after botching cookies yesterday and a pizza tonight, that my cooking flair came from my smoking all along!
      Or it's, you know, any other explanation...</p>
    <hr>
    <p class="small-print text-uppercase"><strong>days without tobacco: 4</strong> | days without nicotine: 0 (7 mg
      today) | savings accomplished: -10.97€</p>
    <hr>
  </li>
  <li>
    <h3 class="text-uppercase">Day 5 - nov. 6, 2020</h3>
    <p><strong>05:15 PM --</strong> I'm kinda done deep-cleaning for this year. Apart from that, today was quite
      exciting: (safe) cake date, Georgia and Pennsylvania reveal, and it was exceptionally sunny and mild where I'm at.
      Cravings came and went, but I'm feeling all right about life.</p>
    <hr>
    <p class="small-print text-uppercase"><strong>days without tobacco: 5</strong> | days without nicotine: 0 (8.5 mg
      today) | savings accomplished: -8.68€</p>
    <hr>
  </li>
  <li>
    <h3 class="text-uppercase">Day 6 - nov. 7, 2020</h3>
    <p><strong>04:30 PM --</strong> So, today was pretty fcuking weird. To be fair, this whole year's been unpredictable
      and disorienting for most humans, this autumn especially.</p>
    <p>I spent a few hours crying in my bed today. I've also thought about why that happened. And I mean, sure, many
      citizens have been showing complacency when faced with fascism and authoritarianism at home and abroad.
      Governments have been displaying too little willingness to preserve an inhabitable world for our species. Old,
      bad, dead ideas, like market protectionism and eugenics, have been resurfacing.</p>
    <p>And maybe it looks like I'm straying out of scope for this smoking cessation log, but I don't
      think so. The thing is, I used to have a number of outlets for this 21st century funk many of us are feeling right
      now. Some of those outlets are gone: I'm away from those I care about, I'm stuck inside, and I won't smoke
      anymore. I hadn't cried in a very long time, and right now I feel that it might be because I used to have those
      other outlets. My will has been wavering, and yeah, I've thought about how I could maybe forget about quitting for
      now, and even hide or lie to y'all about it (!), but I'm still in the game and I'm happy to report: it'll take
      a bit more that the above list of grievances to make me take that fcuking step back.</p>
    <hr>
    <p class="small-print text-uppercase"><strong>days without tobacco: 6</strong> | days without nicotine: 0 (8.5 mg
      today) | savings accomplished: -6.38€</p>
    <hr>
  </li>
  <li>
    <h3 class="text-uppercase">Day 7 - nov. 8, 2020</h3>
    <p><strong>11:30 PM --</strong> Kind of a 'meh' day honestly. Didn't find the motivation to study for tomorrow's
      exam. I'm planning to work extra hard later, when I'm not fiending anymore, if it turns out I did need to work.
      Procrastinating -- I'm procrastinating, with exams tomorrow.</p>
    <p class="milestone">Err, "kind of a 'meh' day"... for a milestone! The more observant among you will, no doubt,
      have noticed that I quit smoking <strong>one week ago</strong> 🤗</p>
    <hr>
    <p class="small-print text-uppercase"><strong>days without tobacco: 7</strong> | days without nicotine: 0 (8.5 mg
      today) | savings accomplished: -4.09€</p>
    <hr>
  </li>
  <li>
    <h3 id="smokefree" class="text-uppercase">Day 8 - nov. 9, 2020</h3>
    <p><strong>6:30 PM --</strong> It's been hard to focus for about eight days (weird, right?). And it was more
      important today. I've had a hard time getting to study, or sticking to it more than a few minutes, and it
      showed during my exam performance today.</p>
    <p>Now, I don't want to dramatise. I didn't do <em>that</em> bad, I don't think. Also, I will hopefully be in better
      shape by the time the finals roll up, in January, which should help my average grades.</p>
    <p>Addiction-wise, I've been thinking about smoking -- as in, the physical act. Picturing it, remembering the
      sensations. I don't want it. There's a lot I really don't miss about it. In a way, it's something that became a
      habit and a need for me <em>after</em> I got used to the smell, to the physical reactions, and all that. There was
      a barrier to entry, in that way, and that barrier has come back at some point this month. All that being said, I
      don't miss smoking per se, but I do miss something as a result of quitting. Part of the challenge is going to be
      to form new habits that are better, or neutral. Food for my addled thoughts...</p>
    <p>Hey wait a minute, here's an idea: Food! </p>
    <hr>
    <p class="small-print text-uppercase"><strong>days without tobacco: 8</strong> | days without nicotine: 0 (8.5 mg
      today) | savings accomplished: -1.80€</p>
    <hr>
  </li>
  <!--<li>
    <h3 class="text-uppercase">Day N-1 - nov. N, 2020</h3>
    <p></p>
    <p class="small-print text-uppercase"><strong>days without tobacco</strong>: N-1 | days without nicotine: 0 | savings accomplished: +/-XX.XX€</p>
  </li>-->
</ul>
