<h1 id="smokefree">I'm quitting smoking : my journal</h1>
<ul>
  <li>
    <h3 class="text-uppercase">Day 0 - nov. 1, 2020</h3>
    <p>It's 02:00 AM (so, 02/11/2020 technically) and I smoked my last cigarette less than an hour ago. I threw the
      unfinished pack in the trash and started setting up this log. If you're reading this, I'm probably fine, and I'm
      thankful that you're taking the time. My approach was to consult a general practitioner after doing some research
      on effective cessation methods. I was recommended the usual nicotine substitute method, and therefore I'll be
      using patches all November. If the going gets tough, I also have special lozenges that are supposed to help. I'm
      not planning on using those -- place your bets! In the first few months, you can expect short daily updates here,
      linked and announced on <a class="link" href="https://twitter.com/rybByt_">Twitter</a>. Wish me luck!</p>
  </li>
  <li>
    <h3 class="text-uppercase">Day 1 - nov. 2, 2020</h3>
    <p>Well, fuck me. I'm using a patch so it could probably have been worse, but this is harder than I thought.
      I'm restless, time seems to pass slowly, and I'm warm and sweaty and distracted. But I made it so far. Now let's
      see if I can sleep.</p>
    <p>In retrospect, and as I mentioned above, it's also easier than it could have been in some ways. One other reason
      is the support I'm getting from knowing that some people care and are paying attention to my resolution and my
      progress: some family members, some perfect strangers, some friends, and even the woman I have a crush
      on. They know, I know that they know -- there's no going back without disappointing basically everybody. And
      that's all for the better.</p>
    <p>Also, I totally used my first nicotine lozenge on day 1 like some sort of chump.</p>
    <hr>
    <p class="small-print text-uppercase">days without tobacco: 1 | days without nicotine: 0 | savings accomplished:
      -35.35€</p>
    <hr>
  </li>
  <li>
    <h3 class="text-uppercase">Day 2 - nov. 3, 2020</h3>
    <p>I started today with the satisfaction of knowing I can get through a day and night. Still restless, but pretty
      effective at brute forcing through stuff. I cleaned my whole place up and rearranged it. May well wash the walls
      tomorrow.</p>
    <p>If it goes exceptionally well, I may study instead (or on top) of cleaning. But I fear sitting at my desk
      listening to content, be it academic or otherwise, will bring my smoking habits back to my mind.</p>
    <p>At this point, I don't think I'll smoke again, but I do think quitting could burn me out or bring me down if I
      don't manage the process intelligently.</p>
    <hr>
    <p class="small-print text-uppercase">days without tobacco: 2 | days without nicotine: 0 | savings accomplished:
      -33.05€</p>
    <hr>
  </li>
  <li>
    <h3 class="text-uppercase">Day 3 - nov. 4, 2020</h3>
    <p>Feeling tired! Quitting had a noticeable effect on my sleeping, and so did the US election... I'm gonna need
      something sweet and unreasonable to munch on today. On the plus side, I was able to pay attention to a three hours
      long lecture this morning, so... yay.</p>
    <hr>
    <p class="small-print text-uppercase">days without tobacco: 3 | days without nicotine: 0 | savings accomplished:
      -30.76€</p>
    <hr>
  </li>
  <!--<li>
    <h3 class="text-uppercase">Day 3 - nov. 4, 2020</h3>
    <p></p>
    <p class="small-print text-uppercase">days without tobacco: 3 | days without nicotine: 0 | savings accomplished: +/-XX.XX€</p>
  </li>-->
</ul>
